// Review style
// ---------------

.review {
  display: flex;
  border-bottom: 1px solid $brand-blue-highlight;
  margin-bottom: 1.1rem;
  &:last-child {
    border: 0;
    margin: 0;
  }
  &__content {
    width: calc(100% - 90px);
    padding-right: 1rem;
    &-title {
      font-size: $text-xs;
      font-weight: 600;
      margin-bottom: 0.5rem;
      display: flex;
    }
    &-text {
      font-size: $text-xxs;
      font-weight: 500;
      font-style: italic;
    }
    &-link {
      color: $brand-highlight;
      display: block;
      text-align: right;
      @include transition(color 0.2s);
      text-decoration: none;
      font-style: normal;
      font-weight: 600;
      padding-top: 0.5rem;
      &:hover {
        color: $brand-secondary;
        text-decoration: none;
      }
    }
    &-rating {
      width: 82px;
      display: flex;
      margin-left: 1.25rem;
      &-star {
        background:  url('../img/rating-star-yellow.png') no-repeat;
        width: 14px;
        height: 14px;
        margin-right: 3px;
        &--gray {
          background:  url('../img/rating-star-gray.png') no-repeat;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  &__author {
    width: 90px;
    display: block;
    text-align: center;
    margin-right: 10px;
    img {
      border: 1px solid $brand-blue-highlight;
      @include border-radius(50%);
      display: block;
      margin: 0 auto 0.5rem;
    }
    &-name {
      font-size: $text-xs;
      font-weight: 600;
      display: flex;
      align-items: center;
      flex-direction: column;
      line-height: 1.2;
    }
    &-location {
      font-size: $text-xxs;
      font-weight: 500;
    }
  }
}
