// Footer style
// ----------------

.footer {
  padding: 2.1875rem 0;
  font-size: $text-xxs;
  font-weight: 500;
  color: $brand-gray;
  text-align: center;
  .container {
    border-bottom: 1px solid $brand-gray-light;
  }
  p {
    margin: 0;
    line-height: 2.2;
  }
  &__nav {
    @extend %reset-list;
    display: flex;
    justify-content: center;
    font-size: $text-xs;
    font-weight: 500;
    padding: 1rem 0 1.75rem;
    a {
      color: $brand-gray;
      margin: 0 1.375rem;
    }
  }
  &__partners {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    img {
      margin-bottom: 1.125rem
    }
  }
}
