// Header style
// ----------------

.header {
  &__logo {
    margin: 1.25rem 0 1rem;;
  }
  &__list {
    margin: 0.5rem 1.75rem 0 0;
    @extend %reset-list;
  }
  &__list-item {
    display: flex;
    align-items: center;
    font-size: $text-xs;
    font-weight: 600;
    margin-bottom: 2px;
    &::before {
      margin-right: 6px;
      content: '';
      display: inline-block;
      height: 12px;
      width: 11px;
      background: url('../img/ic-check.png') no-repeat;
    }
  }
}
